In [1]:
import pandas as pd
import pytesseract
from PIL import Image
import matplotlib.pyplot as plt

In [2]:
# Load CSV files
age_gender_nationality = pd.read_csv('South_Korea_visitor_Arrivalsby_age___by_nationality.csv', encoding='utf-8')
print(age_gender_nationality)

                  Year   2021 2021.1 2021.2 2021.3 2021.4 2021.5       2021.6  \
0    By nationality(2)  Total   0-20  21-30  31-40  41-50  51-60  61 and Over
1                Total  90150   5677  14043  12866   8002   6135         3456
2                China  11691    341   1437   1902   1184   1323          669
3                Japan   1007     86    235    173    184    123           58
4               Taiwan    290      7     55     47     28     12           10
..                 ...    ...    ...    ...    ...    ...    ...          ...
57       Ocean(Others)      6      0      1      0      1      1            0
58  South Africa Union    103      0     42     19      9      2            1
59      Africa(Others)    749     46     84    116     54     25            6
60    Other continents      6      0      0      3      3      0            0
61     Overseas Korean   1042     11    113    136    213    274          295

   2021.7
0    Crew
1   39971
2    4835
3     148
4     131
..    ...
57      3
58     30
59    418
60      0
61      0

[62 rows x 9 columns]

In [3]:
gender_nationality = pd.read_csv('South_Korea_visitor_Arrivalsby_gender___by_nationality.csv', encoding='utf-8')
print(gender_nationality)

                  Year   2021 2021.1  2021.2
0    By nationality(2)  Total   Male  Female
1                Total  90150  32854   17325
2                China  11691   4428    2428
3                Japan   1007    509     350
4               Taiwan    290     81      78
..                 ...    ...    ...     ...
58       Ocean(Others)      6      0       3
59  South Africa Union    103     32      41
60      Africa(Others)    749    246      85
61           Stateless      6      5       1
62     Overseas Korean   1042    453     589

[63 rows x 4 columns]

In [4]:
times_visited = pd.read_csv('South_Korea_number_of_Times_Visited_by_Country_of_Residence.csv', encoding='utf-8')
print(times_visited)

           Year   2016
0         Whole  11453
1         Japan   4556
2         China   1702
3        Others   1517
4     Australia   1064
5        Taiwan    630
6      Hongkong    276
7        France    274
8      Malaysia    263
9     Singapore    194
10     Thailand    192
11       U.S.A.    176
12         U.K.    145
13       Canada    142
14  Russianfed.    133
15   Middleeast    100
16      Germany     89

In [5]:
# Load image
img_path = 'China_visitors_by_country.jpg'
img = Image.open(img_path)

# Perform OCR
text = pytesseract.image_to_string(img)

# Print the extracted text
print(text)

17-13 Number of Oversea Visitor Arrivals by Country/Region

(10.000 person-times)
588.67 1016.04 2025.51 2612.69 2598.54 2813.00
338.26 610.15, 1249.99 1617.86 1659.47 1803.70
6.64 7.64 12.58 11.64 18.83 21.00
4.50 12.09 36.65 4.93 73.08 80.00
13.28 22.06 37.76 87.34 54.48 63.40
130.52 220.15 339.00 373.12 249.77 259.00
25.18 44.10 89.96 124.52 107.55 116.50
26.19 39.91 64.20 79.44 101.41 158.10
21.97 36.39 65.40 82.83 100.40 113.60
26.18 39.94 78.59 100.37 90.63 92.50
2.95 134.47 364.63 407.64 444.44 477.50
17.33 24.4 58.63 63.88 64.18 75.30
4.08 6.56 23.80 46.36 58.02 58.90
159.06 248.90 479.14 569.79 491.67 547.20
18.49 28.39 49.96 87.0 57.96 59.50
16.65 23.91 45.49 60.86 62.34 62.0
11.85 18.50 37.20 81.27 48.69 50.40
637 178 19.70 22.92 24.61 26.70
3.49 7.60 14.58 18.91 18.18 20.00
256 2.28 4.38 4m 5.34 5.60
3.62 5.36 11.03 18.45 11.84 11.50
3.43 3.07 ca 7.43 120 7.30
48.93, 108.02 222.39, 237.03 158.23 197.70
5.37 8.29 16.05 30.05 34.98 39.00
64.36 113.28 198.53 269.49 216.56 299.10
12.88 23.66 42.98 68.63 67.98 74.10
51.49 89.62 155.55 200.96 208.68 228.00
15.85 28.18 57.36 78.93 1164 82.60
12.94 23.44 48.30 66.13 63.73 67.60
2.29 3.76 7.84 11.61 12.64 13.60

1.69 0.68 0.65 0.21 0.21 0.20

In [6]:
# Extracted text
text = ''' Number of Oversea Visitor Arrivals by Country/Region

(10,000 person-times)
588.67 1016.04 2025.51 2612.69 2598.54 2813.00
338.26 610.15 1249.99 1617.86 1659.47 1803.70
6.64 7.64 12.58 11.64 18.83 21.00
4.50 12.09 36.65 54.93 73.08 80.00
13.28 22.06 37.76 57.34 54.48 63.40
130.52 220.15 339.00 373.12 249.77 259.00
26.18 44.10 89.96 124.52 107.55 116.50
26.19 39.91 64.20 79.44 101.41 158.10
21.97 36.39 65.40 82.83 100.40 113.60
26.18 39.94 75.59 100.37 90.63 92.50
52.95 134.47 354.63 407.64 444.44 477.50
17.33 24.11 58.63 63.85 64.18 75.30
4.08 6.56 23.80 46.36 58.02 58.90
159.06 248.90 479.14 569.79 491.67 547.20
18.49 28.39 49.96 57.50 57.96 59.50
16.65 23.91 45.49 60.86 62.34 62.50
11.85 18.50 37.20 51.27 48.69 50.40
6.37 7.78 19.70 22.92 24.61 26.70
3.49 7.60 14.58 18.91 18.18 20.00
2.56 2.28 4.38 4.77 5.34 5.50
3.62 5.36 11.03 15.45 11.84 11.50
3.43 3.07 5.14 7.43 7.27 7.30
48.93 108.02 222.39 237.03 158.23 197.70
5.37 8.29 16.05 30.05 34.98 39.00
64.36 113.28 198.53 269.49 276.56 299.10
12.88 23.66 42.98 68.63 67.98 74.10
51.49 89.62 155.55 200.96 208.68 226.00
15.85 28.18 57.36 78.93 77.64 82.60
12.94 23.41 48.30 66.13 63.73 67.70
2.29 3.76 7.84 11.61 12.54 13.60

1.69 0.68 0.65 0.21 0.21 0.20
'''

# Split text into lines
lines = text.split('\n')

# Extract region names and 2016 data
regions = [
    "Total", "Asia", "Korea, D.P. Rep.", "India", "Indonesia", "Japan", "Malaysia",
    "Mongolia", "Philippines", "Singapore", "Republic of Korea", "Thailand", "Africa",
    "Europe", "United Kingdom", "Germany", "France", "Italy", "Netherlands", "Portugal",
    "Sweden", "Switzerland", "Russia", "Latin America", "North America", "Canada",
    "United States", "Oceanic and Pacific Islands", "Australia", "New Zealand", "Others"
]

# Initialize empty lists to hold cleaned data
cleaned_data = []

# Iterate through the lines and extract relevant data
for region, line in zip(regions, lines[3:]):
    # Split line into year data
    year_data = line.split()
    if len(year_data) >= 6:
        # Extract 2016 data (last value in the line)
        cleaned_data.append([region, year_data[-1]])

# Create a DataFrame
df = pd.DataFrame(cleaned_data, columns=["Region", "2016"])

# Display the cleaned DataFrame
df.head()

# Save the cleaned data to a CSV file
df.to_csv('China_cleaned_region_arrivals_Data.csv', index=False)

In [7]:
# Load CSV files
visitor_arrivals_china = pd.read_csv('China_cleaned_region_arrivals_Data.csv', encoding='utf-8')
print(visitor_arrivals_china)

                         Region    2016
0                         Total  2813.0
1                          Asia  1803.7
2              Korea, D.P. Rep.    21.0
3                         India    80.0
4                     Indonesia    63.4
5                         Japan   259.0
6                      Malaysia   116.5
7                      Mongolia   158.1
8                   Philippines   113.6
9                     Singapore    92.5
10            Republic of Korea   477.5
11                     Thailand    75.3
12                       Africa    58.9
13                       Europe   547.2
14               United Kingdom    59.5
15                      Germany    62.5
16                       France    50.4
17                        Italy    26.7
18                  Netherlands    20.0
19                     Portugal     5.5
20                       Sweden    11.5
21                  Switzerland     7.3
22                       Russia   197.7
23                Latin America    39.0
24                North America   299.1
25                       Canada    74.1
26                United States   226.0
27  Oceanic and Pacific Islands    82.6
28                    Australia    67.7
29                  New Zealand    13.6

In [8]:
img_path = 'China_visitors_number.jpg'
img = Image.open(img_path)

text = pytesseract.image_to_string(img)

print(text)

17-12 Number of Overseas Visitor Arrivals by Gender, Age and Purpose

4795.11 100.0 4911.36 100.0
2859.71 59.6 2881.29 587
1936.39 40.4 2030.07 413
161.18 34 184.92 38
656.71 187 686.20 14.0
2394.69 49.9 2439.71 497
1363.24 28.4 1365.75 278
219.28 46 234.77 48
614.70 128 628.47 128
1608.57 335 1740.31 364
132.24 28 143.17 29
744.86 185 714.01 145
1694.74 363 1685.40 343

a) Visitor amrivals include amrivals of population inhabitating in border areas to China,

In [9]:
text = '''Number of Overseas Visitor Arrivals by Gender, Age and Purpose

4911.36

2881.29
2030.07

184.92
686.20
2439.71
1365.75
234.77

714.01
'''

# Split text into lines
lines = text.split('\n')

# Define the items of interest and their order
items = [
    "Total", "Male", "Female", "14 and under", "15-24", "25-44", "45-64", "65 and Over", "Worker and Crew"
]

# Extract relevant lines and match them to the items
data_lines = [line for line in lines if line.replace('.', '', 1).isdigit()]
cleaned_data = [[item, data] for item, data in zip(items, data_lines)]

# Create a DataFrame
df = pd.DataFrame(cleaned_data, columns=["Item", "2019"])

# Display the cleaned DataFrame
df.head()

# Save the cleaned data to a CSV file
df.to_csv('China_cleaned_Visitor_Arrivals_2019_Data.csv', index=False)

df.head()

           Item     2019
0         Total  4911.36
1          Male  2881.29
2        Female  2030.07
3  14 and under   184.92
4         15-24   686.20

In [10]:
# Load CSV files
china_2019_visitors_by_agegender = pd.read_csv('China_cleaned_Visitor_Arrivals_2019_Data.csv', encoding='utf-8')
print(china_2019_visitors_by_agegender)

              Item     2019
0            Total  4911.36
1             Male  2881.29
2           Female  2030.07
3     14 and under   184.92
4            15-24   686.20
5            25-44  2439.71
6            45-64  1365.75
7      65 and Over   234.77
8  Worker and Crew   714.01